################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TaskManagement
/TaskManagement/obj/Debug/net8.0/TaskManagement.API.AssemblyInfo.cs
/TaskManagement/obj/Debug/net8.0/TaskManagement.API.AssemblyInfoInputs.cache
/TaskManagement.Domain/obj
/TaskManagement.Infrastructure/obj
/TaskManagement.Persistence/obj
/TaskManagement/bin/Debug/net8.0
/.vs/ProjectEvaluation
/TaskManagement/obj/Debug/net8.0/rpswa.dswa.cache.json
/TaskManagement.Domain/bin/Debug/net8.0
/TaskManagement.Infrastructure/bin/Debug/net8.0
/TaskManagement.Persistence/bin/Debug/net8.0
*.json
/TaskManagement/bin/Debug/net8.0/TaskManagement.API.deps.json
/TaskManagement/bin/Debug/net8.0/TaskManagement.API.dll
/TaskManagement/bin/Debug/net8.0/TaskManagement.API.exe
/TaskManagement/bin/Debug/net8.0/TaskManagement.API.pdb
/TaskManagement/bin/Debug/net8.0/TaskManagement.API.runtimeconfig.json
/TaskManagement/obj/Debug/net8.0/ref/TaskManagement.API.dll
/TaskManagement/obj/Debug/net8.0/refint/TaskManagement.API.dll
/TaskManagement/obj/Debug/net8.0/apphost.exe
/TaskManagement/obj/Debug/net8.0/TaskManagement.API.assets.cache
/TaskManagement/obj/Debug/net8.0/TaskManagement.API.csproj.AssemblyReference.cache
/TaskManagement/obj/Debug/net8.0/TaskManagement.API.csproj.CoreCompileInputs.cache
/TaskManagement/obj/Debug/net8.0/TaskManagement.API.csproj.FileListAbsolute.txt
/TaskManagement/obj/Debug/net8.0/TaskManagement.API.dll
/TaskManagement/obj/Debug/net8.0/TaskManagement.API.genruntimeconfig.cache
/TaskManagement/obj/Debug/net8.0/TaskManagement.API.pdb
/TaskManagement/obj/project.nuget.cache
/TaskManagement/obj/TaskManagement.API.csproj.nuget.g.props
/TaskManagement/obj/TaskManagement.API.csproj.nuget.g.targets
/.vs/TaskManagementFolder/v17
/TaskManagement/obj/Debug/net8.0/TaskManagement.API.GeneratedMSBuildEditorConfig.editorconfig
