################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TaskManagement
/TaskManagement/obj/Debug/net8.0/TaskManagement.API.AssemblyInfo.cs
/TaskManagement/obj/Debug/net8.0/TaskManagement.API.AssemblyInfoInputs.cache
